@using KonfidesCase.MVC.ViewModels;
@model KonfidesCase.MVC.Models.DataResult<UserInfoVM>

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz @Model.Data!.FirstName @Model.Data!.LastName</h1>
    <p> @Model.Message </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data!.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data!.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data!.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data!.Password)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Data.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Data.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Data.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Data.Password)
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a class="link-dark" asp-area="user" asp-controller="Home" asp-action="ChangePassword">Şifre Değiştir</a>
</div>
