@model IEnumerable<KonfidesCase.MVC.Areas.Admin.ViewModels.ActivityDetailVM>

<h1>Etkinlikler</h1>

<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Organizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.Organizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                    @{
                        if (!item.IsConfirm.HasValue)
                        {
                            <text>Onay Bekliyor</text>

                        }
                        else
                        {
                            if (item.IsConfirm.Value == true)
                            {
                                <text>Onaylandı</text>
                            }
                            else
                            {
                                <text>Reddedildi</text>
                            }
                        }
                    }
            </td>
            <td>
                @Html.ActionLink("İncele", "ConfirmActivity", new { id=item.Id, organizer=item.Organizer, name=item.Name, description=item.Description, date=item.ActivityDate, quota=item.Quota, address=item.Address, category=item.Category, city=item.City })                
            </td>
        </tr>
}
    </tbody>
</table>
