@model IEnumerable<KonfidesCase.MVC.Areas.Admin.ViewModels.CategoryVM>

<h1>Kategoriler</h1>
<p>@ViewData["GetCategoryMessage"]</p>
<p>
    <a class="link-dark" asp-area="admin" asp-controller="Home" asp-action="CreateCategory">Yeni Kategori Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "UpdateCategory", "Home", new { id=item.Id, name=item.Name }) |
            </td>
        </tr>
}
    </tbody>
</table>
